.content {
    padding: 16px;
}

.content > mat-card {
    width: 200px;
}

/* .example-card {
    max-width: 650px;
    height: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid;
    border-radius: 10px;
} */
  
mat-card {
    width: 200px;
    margin: 10px;
    position: relative;
    overflow: auto;
    display:inline-block;
    background-color: #2E8B57;

    /* flex-direction: row; */
}
  
/*mat-card-header {
    flex-shrink: 0;
}
    
mat-card-content{
    flex-grow: 1;
    overflow: auto;
} */
  
img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 109%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 200px;
}
  
button {
    float: right;
    background-color: #E9967A;

}


/* .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
} */

.card-deck-contaoner {
    flex-direction: row;
    /*
    display: flex;
    flex-flow: row wrap;
    background-color: transparent;
    -webkit-box-orient: horizontal;
    -ms-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -webkit-box-direction: normal;
    -ms-box-direction: normal;
    -moz-box-direction: normal;

    border-right: 2px solid;
    
    flex: 1 1 1;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    -moz-box-flex: 1;
    
    width: 95%;
    max-width: 95%;
    position: relative;
    border-radius: 0px;
    
    padding: 10px 10px 30px;
    margin: auto;*/
}
  
  
/* .card-item{
    flex: 1;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    -moz-box-flex: 1;
} */
  
/* .card-actions {
    align-items: flex-end;
}
  
.mat-paginator {
    display: flex;
    justify-content: center;
} */