mat-card {
    width: 500px;
    margin: 40px auto;
    position: relative;
    overflow: auto;
    background-color: #2E8B57;
}

button {
    float: right;
}

.full-width-input {
    width: 100%;
}

section {
    margin: 12px 0;
}

mat-checkbox {
    margin: 0 12px;
}

.datum {
    margin: 0 12px;
}

.ukupno {
    /* margin: 20px; */
    margin-top: 50px;
}

.center {
    width: 600px;
    margin: auto;
    padding-top: 3rem;
  }
  
  table {
    width: 100%;
    background-color: #2E8B57;
  }
    
  .mat-form-field {
    font-size: larger;
    width: 100%;
    margin: auto;
    background-color: #2e2c2c;
  }
    
  mat-label, input{
    color: white ;
  }
    
  .button-text {
    padding: 2rem;
  }
  
  #paginator {
    /* padding-right: 15%; */
    float: right;
  }

mat-label {
  font-size: 18px;
  margin: 7px;

}