
<div>
    <mat-card>
        <form [formGroup]="zahtevForm" (ngSubmit)="onSubmit()">
            <mat-radio-group formControlName="cena">
                <mat-label>Cena:</mat-label>
                <mat-radio-button value="1">do 2000</mat-radio-button>
                <mat-radio-button value="2">2000-5000</mat-radio-button>
                <mat-radio-button value="3">5000-10000</mat-radio-button>
                <mat-radio-button value="4">preko 10000</mat-radio-button>
            </mat-radio-group>

            <mat-form-field appearance="fill">
              <mat-label>Razlog kupovine</mat-label>
              <mat-select formControlName="razlog">
                <mat-option *ngFor="let razlog of razlozi" [value]="razlog">
                  {{razlog}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Motiv</mat-label>
              <mat-select formControlName="motiv">
                <mat-option *ngFor="let motiv of motivi" [value]="motiv">
                  {{motiv}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="datum" appearance="fill">
              <mat-label>Datum kupovine</mat-label>
              <input matInput [matDatepicker]="datum" formControlName="datum">
              <mat-datepicker-toggle matSuffix [for]="datum"></mat-datepicker-toggle>
              <mat-datepicker #datum></mat-datepicker>
            </mat-form-field>
            
            <mat-error *ngIf=submitionError style="margin-bottom: 10px;">
                Popunite sva polja!
            </mat-error>
            <button mat-raised-button color="primary" class="button">Dalje</button>

        </form>
    </mat-card>
</div>